@import "stylesheet.css";

#history {
	background-color: #473e25;
}

p::first-letter {
	padding: 0 .3rem;
	background-color: white;
	margin: 0 .3rem 0 0;
	border: 2px solid;
	border-radius: 8px;
	font-size: 4rem;
	float: left;
	line-height: 1;
	box-shadow: 5px 5px 5px 5px rgba(0, 0, 0, 0.2), 0 6px 30px 0 rgba(0, 0, 0, 0.19)
}

article {
	margin: 0px 50px;
	text-align: justify;
	text-justify: inter-word;
	-webkit-columns: 2 250px;
	-webkit-column-gap: 15px;
	-moz-columns: 2 250px;
	-moz-column-gap: 15px;
	columns: 2 250px;
	column-gap: 15px;
}

article p {
	margin-top: 0px;
}

#topbutton {
	margin-top: 20px;
}

@media (max-width: 800px) {
	
	article {
		margin: 0px 30px;
		column-rule: 1px solid black;
		-moz-column-rule: 1px solid black;
		-webkit-column-rule: 1px solid black;
	}
}

@media (max-width: 600px) {
  
  article {
	  margin: 0px 10px;
  }
}